<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" href="css/widget-style.css">
    <script src="script/widget.js"></script>
    <script src="script/cart.js"></script>
	<title>Page Ketiga</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        :root{
            font-size: 16px;
        }
        body{
            background-color:black;
        }
        .nav-edit{
            height:47px;
        }
        nav.nav-wrapper{
            line-height:45px;
        }
        .tabs .indicator{
            background-color:transparent;
        }
        .box{
            height: auto;
        }
        .btn{
            text-transform: capitalize;
        }
        .btns{
            border: 0;
            height: 5%;
            text-transform: capitalize;
        }
        .lilspace{
            margin: 10px 0 10px 0;
        }
        .middle{
            text-align: center;
            padding: 6px;
        }
        .redhover{
            background-color: white;
            color: black;
            transition: background-color 0.5s ease-out;
        }
        .redhover:hover{
            background-color: red;
        }
        .middle{
            margin: 0 auto 0 auto;
            padding: auto 0 auto 0;
        }
        .searchbox{
            background-color: white;
        }
        .lilspace{
            margin: 10px 0 10px 0;
        }
        .white-border{
            border: 2px solid white;
        }
        .flex-around{
            display: flex;
            flex-direction:row;
            justify-content: space-around;
        }
        .searchbar{
            margin-top: 15px;
            display: grid;
            grid-template-columns: 95% 5%;
        }
    </style>

</head>
<body onload="updateClock(); updateDate(); setInterval(['updateClock()','updateDate()'], 1000)")>
    <div class="row">
        <!-- Checkout -->
        <div class="col s2 white-text" >
            <a class="btn redhover black-text white-border" href="/pagekedua"">
                <i class="material-icons">arrow_back</i>
            </a>
            <div id="checkout" class="col s10">
                <p class="flow-text white-text middle">Checkout</p>
            </div>
            <section class="container content-section">
                <div class="cart-items">
                </div>
                <div class="cart-total">
                    <strong class="cart-total-title">Total</strong>
                    <span class="cart-total-price">IDR 0</span>
                </div>
                <a class="redhover btn white-border" type="button">CONFIRM</a>
            </section>
        </div>

        <!-- navbar -->
        <div class="col s8">
            <nav class="nav-wrapper red black-text nav-edit nopadding">
                <div>
                    <ul class="white-text flex-around">
                        <li class="">Terjual: <%= terjual %></li>
                        <li><a id="clock" class="hide-on-med-and-down">&nbsp;</a></li>
                        <li class="hide-on-med-and-down"><a id="date" href="">&nbsp;</a></li>
                    </ul>
                </div>
        </nav>

            <div class="box col s12">
                <div class="searchbar">
                    <input class="white-text searchbox" type="text" id="myText" placeholder="Search..">
                    <button class="btn redhover black-text white-border" onclick="myFunction(<%= type %>)">
                        <i class="material-icons">search</i>
                    </button>
                </div>
                <div id="card-container" class="row">
                    <% for (var i = 0; i < foods.length; i++) {%>
                    <div class="col s12 m3">
                        <div class="card shop-item">
                            <div class="card-image">
                                <img src="images/placeholder.jpg">
                            </div>
                            <div class="shop-item-details card-content">
                                <button class="btn-floating halfway-fab btn-primary shop-item-button" type=""><i class="material-icons">add</i></button>
                                <div id="myName" class="card-title shop-item-title"><%= foods[i].name %></div>
                                <span id="myPrice<%= i %>" class="shop-item-price"></span>
                            </div>
                        </div>  
                    </div>
                    <% } %>
                </div>   
        </div>
    </div>
	
    <div class="col s2">
        <h3 class="white-text" style="padding-left: 10px">Varian</h3>
        <button class="black-text redhover waves-effect waves-light col btns s12 lilspace" onclick='change_price(0, <%= type %>)'>Tipis</a>
        <button class="black-text redhover waves-effect waves-light col btns s12 lilspace" onclick='change_price(1, <%= type %>)'>Medium</a>
        <button class="black-text redhover waves-effect waves-light col btns s12 lilspace" onclick='change_price(2, <%= type %>)'>Large</a>
        <button class="black-text redhover waves-effect waves-light col btns s12 lilspace" onclick='change_price(3, <%= type %>)'>Spesial</a>
    </div>
    
<!-- Compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script>
    $(document).ready(function() {
        $('.tabs').tabs();
	  
		var btns = document.getElementsByClassName("btn");
		for (var i = 0; i < btns.length; i++) {
			btns[i].addEventListener("click", function() {
			var current = document.getElementsByClassName("active");
			if (current.length > 0) { 
				current[0].className = current[0].className.replace(" active", "");
			}
			this.className += " active";
			});
		}
		
    })

    var foodJSON = '<%- JSON.stringify(foodJSON); %>';
    console.log(foodJSON);

    var OBJ_food = JSON.parse(foodJSON);
    console.log(OBJ_food);
	
	function myFunction(type) {
		var x = document.getElementById("myText").value;
		console.log(window.location.href);
		
		var queries = "&search="+String(x);
		window.location.href = "pageketiga?type=" + type + queries; 
    }
    console.log(<%= tmp %>);
    let meme = OBJ_food.foods.filter((hehe) => {
        return hehe.type == <%= type %>;
    })
    console.log(meme);
    function change_price(val, tipe) {
        <% for (var i = 0; i < foods.length; i++) { %>
            document.getElementById('myPrice<%= i %>').innerText = 'IDR '+meme[<%= i %>].price[val];
        <% } %>
    }
</script>
</body>
</html>