<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/widget-style.css">
    <script src="script/widget.js"></script>
    <script src="script/cart.js"></script>
	<title>Page Ketiga</title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        body{
            background-color:black;
        }
        .mid-element{
            text-align:center;
            width:650px;
        }
        .nav-edit{
            height:47px;
        }
        nav.nav-wrapper{
            line-height:45px;
        }
        ul.tabs{
            background-color:grey;
        }
        .tabs .tab a:focus, .tabs .tab a:focus.active{
            background-color:black;
        }
        .tabs .indicator{
            background-color:transparent;
        }
        .box{
            background-color:grey;
            height: 100%;
        }
        .btn{
            background-color:grey;
        }
        .lilspace{
            margin: 10px 0 10px 0;
        }
        .greydark{
            background-color: #333333;
        }
        .middle{
            text-align: center;
            padding: 6px;
        }
    </style>
</head>
<body onload="updateClock(); updateDate(); setInterval(['updateClock()','updateDate()'], 1000)")>
    <div class="row">
        <!-- Checkout -->
        <div class="col s2 greydark" style="min-height:100%">
            <!-- <div id="checkout" class="col s12"> -->
            <p class="flow-text white-text middle">Checkout</p>
            <!-- </div> -->
            <div class="cart-items" style="height:80%; background-color: #424242; overflow:scroll; margin-bottom: 10px;">
            </div>

            <div class="center-align">
                <button class="cart-total btn btn-primary btn-purchase" type="button" style="min-height:10%;">
                    <p class="cart-total-price center-align">IDR 0</p>
                    <p>CONFIRM</p>
                </button>
            </div>
        </div>

        <!-- navbar -->
        <div class="col s8">
            <nav class="nav-wrapper transparent nav-edit">
                <div>
                    <ul class="white-text">
                        <li class="left">Terjual :</li>
                        <li><a href=""><%= terjual %></a></li>
                        <li><a id="clock" class="mid-element hide-on-med-and-down">&nbsp;</a></li>
						<li class="right hide-on-med-and-down"><a id="date" href="">&nbsp;</a></li>
                    </ul>
                </div>
            </nav>

            <div class="box col s12">
                <input class="white-text" type="text" id="myText" placeholder="Search..">
                <a class="btn" href="/pagekedua"">
                    <i class="material-icons">arrow_back</i>
                </a>
                <button class="btn" onclick="myFunction(<%= type %>)">
                    <i class="material-icons">search</i>
                </button>
                <div id="card-container" class="row">
                    <% for (var i = 0; i < foods.length; i++) {%>
                    <div class="col s12 m3">
                        <div class="card shop-item">
                            <div class="card-image">
                                <img src="images/placeholder.jpg">
                            </div>
                            <div class="shop-item-details card-content">
                                <button class="btn-floating halfway-fab btn-primary shop-item-button" type=""><i class="material-icons">add</i></button>
                                <div id="myName" class="card-title shop-item-title"><%= foods[i].name %></div>
                                <span id="myPrice<%= i %>" class="shop-item-price"></span>
                            </div>
                        </div>  
                    </div>
                    <% } %>
                </div>   
        </div>
    </div>
	
    <div class="col s2">
        <h3 class="white-text" style="padding-left: 10px">Varian</h3>
        <button class="waves-effect waves-light btn col s12 lilspace active" onclick='change_price(0, <%= type %>)'>Tipis</a>
        <button class="waves-effect waves-light btn col s12 lilspace" onclick='change_price(1, <%= type %>)'>Medium</a>
        <button class="waves-effect waves-light btn col s12 lilspace" onclick='change_price(2, <%= type %>)'>Large</a>
        <button class="waves-effect waves-light btn col s12 lilspace" onclick='change_price(3, <%= type %>)'>Spesial</a>
    </div>
    
<!-- Compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script>
    $(document).ready(function() {
        $('.tabs').tabs();
	  
		var btns = document.getElementsByClassName("btn");
		for (var i = 0; i < btns.length; i++) {
			btns[i].addEventListener("click", function() {
			var current = document.getElementsByClassName("active");
			if (current.length > 0) { 
				current[0].className = current[0].className.replace(" active", "");
			}
			this.className += " active";
			});
		}
		
    })

    var foodJSON = '<%- JSON.stringify(foodJSON); %>';
    console.log(foodJSON);

    var OBJ_food = JSON.parse(foodJSON);
    console.log(OBJ_food);
	
	function myFunction(type) {
		var x = document.getElementById("myText").value;
		console.log(window.location.href);
		
		var queries = "&search="+String(x);
		window.location.href = "pageketiga?type=" + type + queries; 
    }
    console.log(<%= tmp %>);
    let meme = OBJ_food.foods.filter((hehe) => {
        return hehe.type == <%= type %>;
    })
    console.log(meme);
    function change_price(val, tipe) {
        <% for (var i = 0; i < foods.length; i++) { %>
            document.getElementById('myPrice<%= i %>').innerText = 'IDR '+meme[<%= i %>].price[val];
        <% } %>
    }
</script>
</body>
</html>